.carousel-control-prev{
	left: 10%;
}
.carousel-control-next{
	right: 10%;
}
.w-80{
	width: 80% !important;
}
.innerBackground{
	background-color: #29d8f0;
}
.outerBackground{
	background-color: #b3f6ff;
}
.custom-carousel-caption{
  position: absolute;
  right: 15%;
  bottom: 5px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 5px;
  color: #fff;
  text-align: center;
}
.bg-navbar{
  background-color: #b3f6ff;
}
.bg-footer{
  background-color: #b3f6ff;
}
.dropdown{
  color: #ffff;
}











.logo_size {
	margin: 5px;
	border: ;
	padding: ;
	height: 50px;
}
.custom_nav_bg {
	background-color: #e3f2fd;
}
.development {
	margin: ;
	border: 1px solid black;
	padding: ;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgb(0, 0, 0);
}
.navbar-light .navbar-nav .nav-link {
	color: rgb(127, 127, 127);
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.img-fluid {
	width: 100% \9;
}
