.carousel-control-prev{
	left: 10%;
}
.carousel-control-next{
	right: 10%;
}
.w-80{
	width: 80% !important;
}
.innerBackground{
	background-color: #29d8f0;
}
.outerBackground{
	background-color: #b3f6ff;
}
.customImage7{
	max-height: 300px;
}
.customImageLogo{
	min-height: 250px;
}
.custom-carousel-caption{
  position: absolute;
  right: 15%;
  bottom: 5px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 5px;
  color: #fff;
  text-align: center;
}
.bg-navbar{
  background-color: #b3f6ff;
}
.bg-footer{
  background-color: #b3f6ff;
}
.nav-item, .navbar-brand{
  margin-right: 100%;
}