.carousel-control-prev{
	left: 10%;
}
.carousel-control-next{
	right: 10%;
}
.w-80{
	width: 80% !important;
}
.innerBackground{
	background-color: #29d8f0;
}
.outerBackground{
	background-color: #b3f6ff;
}
.customImage7{
	max-height: 300px;
}
.customImageLogo{
	min-height: 250px;
}
